/node_modules
/replays
/dist
/draft.csv
managers.csv
src/index.ts
.gitignore
src/settings.ts
src/gameslist
replays.csv
dist/bundle.js
replays.csv
dist/bundle.js
src/gamesList.ts
src/settings.ts
schedule.csv
